MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=mydatabase
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_USER=myuser
MYSQL_IMAGE_TAG=8.4.8

JWT_SECRET=
JWT_EXPIRY_MILLISECONDS=3600000

CORS_ALLOWED_ORIGINS=http://localhost:3000